{
    "editor.fontFamily": "{{ editor_font_family }}",
    "editor.fontSize": 14,
    "editor.minimap.enabled": false,
    "git.autorefresh": false,
    "telemetry.enableTelemetry": false,
    "workbench.startupEditor": "newUntitledFile"
}
